body {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/834/602/559/computer-keyboards-wallpaper-thumb.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    
}

header {
 display: flex;
 margin: 10px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

#telaDeLogin {
    display: block;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    color: white;
}

#telaDeCadastro {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    width: 90%;
    color: white;
}

footer {
    /* background-image: url(https://static.vecteezy.com/ti/fotos-gratis/p1/3188012-dark-wood-table-texture-wallpaper-and-background-gr%C3%A1tis-foto.jpg); */
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#popup {
    display: none;
    width: 90%;
    height: 30em;
    background-color: aliceblue;
    box-shadow: 10px 10px 10px rgb(88, 88, 88);
    overflow: auto;
}

#barraTarefas {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border: solid 1px;
    background-color: rgb(57, 57, 57);
    padding: 3px; 
    height: 25px;
    align-items: center;
   
}

#sair {
    border-radius: 3px;
    height: 25px;
}

#sair:hover {
 background-color: red;
}

:root {
    --cor-fundo: rgb(45, 45, 43);
    --cor-hover: rgba(0, 0, 0, 0.229);
    --cor-Primaria: rgb(57, 57, 57);
}

a {
   color: aliceblue;
   height: 10px;
}

.menu ul {
    list-style-type: none;
    
}

.menu li {
    display: inline-block;
    
}

.menu ul li a {
    display: block;
    background-color: var(--cor-Primaria);
    text-decoration: none;
    padding: 10px;
}

.menu ul li a:hover {
    background-color: var(--cor-hover);
    border-radius: 20px 0px 20px 0px;
    transform: scale(0.89);
    border: solid 1px;
}

#estudos {
    display: none;
}